.navbar-brand {
  float: left;
  height: 55px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 20px;
}

.green{
  background-color: #33CC33;
}

.blue{
  background-color: #195CBF;
}

.grey-blue{
  background-color: #205B8D;
}

.navbar-default .navbar-brand {
  color: #212929;
}
.navbar-default .navbar-nav>li>a {
  color: #212929;
}

.navbar.navbar-default.navbar-fixed-top.topnav{
  border-bottom: 20px solid #205B8D;
}

.hr{
}

.contact{
  padding-top: 50px;
}
.btn-default {
  color: #f8f8f8;
  border-color: #fff;
  border-width: medium;
  width: 220px;
}

.btn-center{
  margin-top: 40px;
  align-content: center;
}

.arch-quote{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.center-image{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.message-received{
 margin-top: 40px; 
}

.intro-message {
    padding-top: 5%;
    padding-bottom: 20%;
}

.network-name{
  font-weight: 800;
}

ul.list-inline.intro-social-buttons{
  margin-bottom: 50px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (max-width: 400px){
  .navbar-default .navbar-brand{
    font-size: 98%;
  }
}



@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}


.fb-like{
  margin-right:20px;
}

.g-plus{
  margin-top:-50px;
  padding-top: 0px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.social-media-container{
  margin-top: 50px; 
  margin-bottom: 20px;
}

*!
* Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

html,
body {
  height: 100%;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

footer {
  background-color: #fff;
}

.home-page-image-1{
  margin-top: 50px;
  
}
