<div class="container social-media-container">
  <row class="text-center">
    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.archrecoveryhouses.com&t=ARCH%20Florida%20Halfway%20Houses" title="Share on Facebook" target="_blank"><img src="../img/Facebook.png" alt="Facebook Recovery"></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.archrecoveryhouses.com&text=ARCH%20Florida%20Halfway%20Houses:%20http%3A%2F%2Fwww.archrecoveryhouses.com" target="_blank" title="Tweet"><img src="../img/Twitter.png"></a></li>
      <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.archrecoveryhouses.com" target="_blank" title="Share on Google+"><img src="../img/Google+.png" alt="Twitter Sobriety"></a></li>
      <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.archrecoveryhouses.com&description=Providing%20structured%20living%20environments%20to%20adults%20recovering%20from%20drug%20or%20alcohol%20addiction%20in%20Palm%20Beach%20County." target="_blank" title="Pin it"><img src="../img/Pinterest.png"
                                                                                                                                                                                                                                                                                                         alt="Pinterest Sober Link"></a></li>
      <li><a href="mailto: ?subject=ARCH%20Florida%20Halfway%20Houses&body=Providing%20structured%20living%20environments%20to%20adults%20recovering%20from%20drug%20or%20alcohol%20addiction%20in%20Palm%20Beach%20County.:%20http%3A%2F%2Fwww.archrecoveryhouses.com" target="_blank" title="Email"><img src="../img/Email.png" alt="Email Halfway House"></a></li>
    </ul>
  </row>
</div>